@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<ul class="list-group">
    <li class="list-group-item">Add File select button</li>
    <li class="list-group-item">Validate file format</li>
    <li class="list-group-item">Compatible with Excel version 97-2003 and 2007 and above</li>
    <li class="list-group-item">Remove empty row with no first and last name from Excel SELECT</li>
    <li class="list-group-item">Format phone number to <=10 numerals only</li>
    <li class="list-group-item">Validate email format</li>    
</ul>
