@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    13954 Hidden Heights Ln NE<br />
    Bainbridge Island, WA 98110<br />
    <abbr title="Phone">P:</abbr>
    917.674.4820
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:wamoffat4@gmail.com">wamoffat4@gmail.com</a><br />
    <strong>Website:</strong> <a href="https://a-moffat.com">a-moffat.com</a>
</address>